<html>

<head>  <!--for decalring style sheetf of page -->
   <title>404</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>  <!-- for displaying to the user-->

<div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>

</div>
{{>footer}}
</body>
</html>