<!DOCTYPE html>
<html>

<head>  <!--for decalring style sheet of page -->
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>  <!-- for displaying to the user-->
<div class="main-content">
    {{>header}}
    <p>Alert! {{helpText}}</p>

</div>
{{>footer}}
</body>
</html>